<div class="container">
  <div class="welcome" *ngIf="!start">
    <h2> Hi! Welcome to our quiz!</h2>
    <button (click)="onStart()"> Press to start</button>
  </div>

  <div class="questionare" *ngIf="!end && start">
    <h3>Question {{ questionsCounter + 1 }} out of {{ numberOfQuestons }} </h3>
    <app-question 
      [question] = currentQuestion
      (nextQuestion)="changeQuestion($event)"
    >
    </app-question>
  </div>

  <div class="finish" *ngIf="end">
    <h1 *ngIf="score == 5" style="color: green"> Excellent! </h1>
    <h2  [ngStyle]="{'color': score > 3 ? 'green' : 'red' }">
     {{ message }} </h2>
    <h3> Thank you! </h3>
    <button (click) = "retake()">  Retake quiz</button>
  </div>
</div>
